<web-app>      
    <servlet>
        <servlet-name>queryAllname</servlet-name>
        <servlet-class>servlet.maps.queryAllname</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>queryAllfrom</servlet-name>
        <servlet-class>servlet.maps.queryAllfrom</servlet-class>
    </servlet>    
    <servlet>
        <servlet-name>queryAllprov</servlet-name>
        <servlet-class>servlet.maps.queryAllprov</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>queryProv</servlet-name>
        <servlet-class>servlet.maps.selectprov</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>queryFrom</servlet-name>
        <servlet-class>servlet.maps.selectfrom</servlet-class>
    </servlet>
<servlet>
        <servlet-name>queryPwd</servlet-name>
        <servlet-class>servlet.user.queryPwd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatePwd</servlet-name>
        <servlet-class>servlet.user.updatePwd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateInfo</servlet-name>
        <servlet-class>servlet.user.updateInfo</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>queryAllname</servlet-name>
        <url-pattern>/queryAllname</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>queryAllfrom</servlet-name>
        <url-pattern>/queryAllfrom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>queryAllprov</servlet-name>
        <url-pattern>/queryAllprov</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>queryProv</servlet-name>
        <url-pattern>/queryProv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>queryFrom</servlet-name>
        <url-pattern>/queryFrom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>queryPwd</servlet-name>
        <url-pattern>/queryPwd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatePwd</servlet-name>
        <url-pattern>/updatePwd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateInfo</servlet-name>
        <url-pattern>/updateInfo</url-pattern>
    </servlet-mapping>
    
        <filter>
    	<filter-name>loginFilter</filter-name>
    	<filter-class>filter.loginFilter </filter-class>
    </filter>
    <filter-mapping>
    	<filter-name>loginFilter</filter-name>
    	<url-pattern>/record/*</url-pattern>
    </filter-mapping>
     <filter-mapping>
    	<filter-name>loginFilter</filter-name>
    	<url-pattern>/user/*</url-pattern>
    </filter-mapping>

</web-app>  